<form id="contactForm">
    <input type="text" name="firstName" placeholder="First Name" required><br>
    <input type="text" name="lastName" placeholder="Last Name" required><br>
    <input type="text" name="company" placeholder="Company"><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <textarea name="message" placeholder="Your Message" required></textarea><br>
    <button type="submit">Send</button>
</form>

<script src="{{ "/assets/js/contact.js" | relative_url }}"></script>
